build
build_ip
build_gp
build_main
env
.vscode/
*.txt


# Temporary folders
PythonUtils/__pycache__/*
__pycache__/*
.vscode

# Temporary visuals
Hessian_IP.pdf
Jacobian_IP.pdf
Hessian_GP.pdf
Jacobian_GP.pdf